/* start about us */ 
.about-us{
    margin: 100px 0;
    .img{
        display: flex;
        justify-content: flex-end;
        img{
            width: 75%;
        }
        .experience{
            position: absolute;
            left: 0;
            background-color: $mainColor;
            text-align: center;
            width: 50%;
            top: 100%;
            transform: translateY(-80%);
            margin-left: 13px;
            padding: 40px 0;
            h1{
                font-size: 30px;
                text-transform: uppercase;
                margin:5px 0 !important;
            }
        }
    }
    .text{
        h3{
            @include headDes;
        }
        h1{
             @include secHead;
        }
        .start{
            margin: 20px 0 0;
            h1{
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 0;
            }
        }
    }
}
/* end about us */ 